<div class="text-center alert" ng-class="gateEvent.within_eating_time?'alert-success':'alert-danger'">
    <h2>
        <i ng-show="gateEvent.within_eating_time" class="glyphicon glyphicon-ok" style="color:#008000"></i>
        <i ng-show="!gateEvent.within_eating_time" class="glyphicon glyphicon-remove" style="color:darkred"></i>
        {{getUserName(gateEvent)}} ({{gateEvent.school_class}})</h2>

    <div class="gate-thumbnail">
    <img ng-src="{{getImageUrl(gateEvent)}}" class="portrait" style="border:solid 5px
    rgba(0,0,0,0.2);"/>
        </div>

    <h3><i class="fa fa-clock-o"></i> {{gateEvent.time}}</h3>

    <div style="font-size: 700%">
        <span>{{gateEvent.lunch_menu}}</span>
        <span ng-show="gateEvent.lunch_menu===undefined"><i class="fa fa-question"></i></span>
        <i ng-show="!gateEvent.within_eating_time" class="fa fa-clock-o faa-float animated" ></i>
        <span ng-show="gateEvent.user_name===undefined"><i class="fa fa-question"></i></span>
    </div>

</div>