<div ng-show="!isFocused" class="jumbotron alert alert-danger">
    <h1><i class="glyphicon glyphicon-alert"></i> Üzemen kívül!</h1>

    <p>A böngésző elvesztette a fókuszt, így a kártyák feldolgozása nem lehetséges.</p>

    <p><strong>Helyezze a böngészőt fókuszba!</strong></p>

</div>

<div ng-show="isFocused" class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Időpont</th>
                <th>Tanuló</th>
                <th>Vonalkód</th>
                <th>Osztály</th>
                <th>Idősáv</th>
                <th>Fizetve</th>
                <th>Idősávban</th>
            </tr>
            <tr class="row" ng-repeat="gateEvent in dataService.getGateEvents()  track by $index">
                <td ng-if="gateEvent.error===undefined">{{gateEvent.time}}</td>
                <td ng-if="gateEvent.error===undefined">{{gateEvent.user_name}}</td>
                <td ng-if="gateEvent.error===undefined">{{gateEvent.barcode}}</td>
                <td ng-if="gateEvent.error===undefined">{{gateEvent.school_class}}</td>
                <td ng-if="gateEvent.error===undefined">
                    {{gateEvent.eating_time_start}}-{{gateEvent.eating_time_end}}
                </td>
                <td ng-if="gateEvent.error===undefined">{{gateEvent.paid}}</td>
                <td ng-if="gateEvent.error===undefined">{{gateEvent.within_eating_time}}</td>

                <td ng-if="gateEvent.error!==undefined" class="danger" colspan="7">{{gateEvent.error}}</td>
            </tr>
        </table>
    </div>
</div>
